:root {
    --primary-color: #0A1128;
    --ligth-gray-color: #EEEEEE;
    --gap: 3rem;
}

.main-bg {
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: white
}

.white-bg {
    background: white;
    color: var(--primary-color)
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}

.section {
    min-height: 100vh;
}

.menu-spacing {
    height: 65px;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}

.link-repositorio {
    color:red
}

.grid-informacao {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 5px;
}
.grid-informacao div p {
    margin-bottom: 0;
}

.grid-informacao div p:nth-child(2){
    margin-bottom: 0;
}

.grid-informacao div:nth-child(2){
    text-align: right;
    
}

.relogio {
    font-size: 3em;
}

.pausado {
    color: red;
}

.botoes {
   max-height: 80px;
   max-width: 500px;
   display: flex;
}

.contador {
    margin-left: 5px;
    width: 100%;
    background:  var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

.contador:hover {
    border-color: var(--primary-color);
    background: white;
    color: var(--primary-color);
}

.calculadora {
    display: flex;
    flex-flow: column wrap;
   /* justify-content: center; */
    min-height: 100vh;

}

.display {
    font-size: 2.5em;
    width: 100%;
    text-align: right;

}

.titulo-calculadora {
    margin-top: 120px;
    text-align: center;
    margin-bottom: 10px;
}

.btn {
    color: white;
    width: 100%;
    height: 70px;
    font-size: 1em;
    border: none;
    background: var(--primary-color);
    cursor: pointer;
    padding: 1rem;
}


.btn:hover {
    background-color: white;
    color: var(--primary-color)
}

.senha-gerada{
    font-size:  2em;
    color: var(--primary-color);
    margin: 40px 0;  
}

.gerador-content {
    max-width: 64rem;
    /*display: flex; */
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 80vh;
}
.gerador-content h6 {
    margin-top: 20px;
}

.titulo-center {
    text-align: center;
}

.alocacao-checkbox {
    margin-left: 10px;    
}


.contact-form {
    display: block;
    margin-bottom: 10px;
    background:  var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 30px;
}

.contact-form button:hover {
    border-color: var(--primary-color);
    background: white;
    color: var(--primary-color);
}


.btn-cacular-imc {
    width: 100%;
    height: 50px;
    display: block;
    margin-bottom: 10px;
    background:  var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 30px;
}

.btn-cacular-imc:hover {
    border-color: var(--primary-color);
    background: white;
    color: var(--primary-color);
}

.data-hora {
    margin-right: 50px;
    font-size: small;
}