:root {
    --primary-color: #0A1128;
    --ligth-gray-color: #EEEEEE;
    --gap: 3rem;
}

.main-bg {
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: white
}

.white-bg {
    background: white;
    color: var(--primary-color)
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem var(--gap);
}

.section {
    min-height: 100vh;
}

.menu-spacing {
    height: 65px;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}

.link-repositorio {
    color:red
}

.grid-informacao {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 5px;
}
.grid-informacao div p {
    margin-bottom: 0;
}

.grid-informacao div p:nth-child(2){
    margin-bottom: 0;
}

.grid-informacao div:nth-child(2){
    text-align: right;
    
}

.relogio {
    font-size: 3em;
}

.pausado {
    color: red;
}

.botoes {
   max-height: 80px;
   max-width: 500px;
   display: flex;
}

.contador {
    margin-left: 5px;
    width: 100%;
    background:  var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

.contador:hover {
    border-color: var(--primary-color);
    background: white;
    color: var(--primary-color);
}